body {
	margin: 0px;
	padding: 0px;
	min-height: 40em;
	background-color:  #181818 ;
	/*background: #11998e;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav div a {
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: thin;
	text-align: center;
	transition: font-size ease-in-out 0.2s, text-shadow ease-in-out 0.2s;
}
nav div a:hover {
	font-size: 1.5em;
	text-shadow: 0px 0px 1px white;
}
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 3em;
	background-color:  #222 ;
	border-bottom: 1px solid #333;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.nav div {
	width: 47%;
}
.nav .nav-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.nav .nav-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav div a{
	padding: 0.3em;
}
.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 10%;
	float: left;
	height: 30em;
	background-color:  #333 ;
	height: 58em;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.sidebar div {
	width: 100%;
}
.sidebar div a {
	color: white;
	padding: 0.5em 0em 0.5em 0em;
}
.sidebar div a:nth-child(1) {
	background-color: #6930c3;
}
.sidebar div a:nth-child(2) {
	background-color: #5e60ce;
}
.sidebar div a:nth-child(3) {
	background-color: #5390d9;
}
.sidebar div a:nth-child(4) {
	background-color: #4ea8de;
}
.sidebar div a:nth-child(5) {
	background-color: #48bfe3;
}

.sidebar .sidebar-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.sidebar .sidebar-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.sidebar div a {
	width: 100%;
}
.sidebar div .active {
	border-right: 4px solid white;
	border-radius: 0px 4px 4px 0px;
}
.content {
	position: relative;
	width: 90%;
	float: right;
	height: 30em;
}

table {
	width: 80%;
	margin: 25px;
	color: white;
}

table, th, td {
  border: 1px solid white;
}

.stlpec {
	height: 350px;
}