body {
	margin: 0px;
	padding: 0px;
	min-height: 40em;
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.nav {
	width: 100%;
	min-height: 2em;
	background-color:  #1e8c65 ;
	border-bottom: 1px solid rgba(255,255,255,0.7);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.sidebar {
	position: relative;
	width: 10%;
	float: left;
	height: 30em;
	background-color:  #229e72 ;
	border-right: 1px solid rgba(255,255,255,0.7);
	height: 58em;
}
.content {
	position: relative;
	width: 90%;
	float: right;
	height: 30em;
}