{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="events colored-blue">
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> Upcoming company events</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Title:</th>
				<th>Description:</th>
				<th>Date:</th>
				<th>Participating:</th>
				<th>Controls:</th>
			</tr>
			<tr>
				<td>Event Title</td>
				<td>Event Desc</td>
				<td>12.2.2004</td>
				<td>18 people</td>
				<td><a href=""><i class="bi bi-plus-circle"></i> Visit</a></td>
			</tr>

		</table>
		</div>
	</div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}