{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="panel-primary">
	<div class="schedule">
		
	</div>
	<div>
		
	</div>
</div>
<div class="panel-secondary">
	<div class="notifications">
		
	</div>
</div>

<table>
<tr>
<th colspan="7">Second week of December 2021</th>
</tr>

<tr>
<th>Su</th>
<th>Mo</th>
<th>Tu</th>
<th>We</th>
<th>Th</th>
<th>Fr</th>
<th>Sa</th>
</tr>
<tr>
	<th class="stlpec"></th>
	<th class="stlpec"></th>
	<th class="stlpec"></th>
	<th class="stlpec"></th>
	<th class="stlpec"></th>
	<th class="stlpec"></th>
	<th class="stlpec"></th>
</tr>
</table>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}