{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="panel-primary">
	<div class="schedule">
		
	</div>
	<div>
		
	</div>
</div>
<div class="panel-secondary">
	<div class="notifications">
		
	</div>
</div>
<div class="project colored-blue">
	<div class="casy">
		<div class="casy-content">
			<table class="hodiny">
				<tr>
					<td>0:00</td>
				</tr>
				<tr>
					<td>2:00</td>
				</tr>
				<tr>
					<td>4:00</td>
				</tr>
				<tr>
					<td>6:00</td>
				</tr>
				<tr>
					<td>8:00</td>
				</tr>
				<tr>
					<td>10:00</td>
				</tr>
				<tr>
					<td>12:00</td>
				</tr>
				<tr>
					<td>14:00</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="project colored-blue">
		<div class="card">
			<div class="card-header colored">
				<p>December 2021</p>
			</div>
			<div class="card-content">
				<table class="calendar">
					<tr>
						<th>Sun</th>
						<th>Mon</th>
						<th>Thue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
					</tr>
					<tr style="height: 550px;">
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</table>
			</div>
		</div>
		{% endblock content %}

		{% block javascript %}
		{% endblock javascript %}