{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="project colored-blue">
	<div class="switcher">
		<p><a href=""><i class="bi bi-chevron-compact-left"></i></a>SelfDriving > Steering<a href=""><i class="bi bi-chevron-compact-right"></i></a></p>
	</div>
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> Waiting</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Task:</th>
				<th>Date:</th>
				<th>Priority:</th>
				<th>Controls:</th>
			</tr>
			{% for task in waiting %}
				<tr>
					<td>{{ task.name }}</td>
					<td>{{ task.date }}</td>
					<td>{{ task.priority }}</td>
					<td><a href=""><i class="bi bi-check-circle"></i> TAKE</a></td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> In progress</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Task:</th>
				<th>User:</th>
				<th>Priority:</th>
				<th>Controls:</th>
			</tr>
			{% for task in in_progress %}
				<tr>
					<td>{{ task.name }}</td>
					<td>{{ task.user }}</td>
					<td>{{ task.priority }}</td>
					<td>
					{% if request.user.username == task.user %}
						<a href=""><i class="bi bi-check-circle"></i> FINISH</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> Finished</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Task:</th>
				<th>User:</th>
				<th>Priority:</th>
				<th>Controls:</th>
			</tr>
			{% for task in finished %}
				<tr>
					<td>{{ task.name }}</td>
					<td>{{ task.user }}</td>
					<td>{{ task.priority }}</td>
					<td>
					{% if request.user.username == task.user %}
						<a href=""><i class="bi bi-file-earmark-x"></i> CLEAR</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}