{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="project colored-blue">
	<div class="switcher">
		<p><a href=""><i class="bi bi-chevron-compact-left"></i></a>SelfDriving > Steering<a href=""><i class="bi bi-chevron-compact-right"></i></a></p>
	</div>
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> Waiting</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Task:</th>
				<th>Priority:</th>
				<th>Controls:</th>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>small</td>
				<td><a href=""><i class="bi bi-plus-circle"></i> TAKE</a></td>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>urgent</td>
				<td><a href=""><i class="bi bi-plus-circle"></i> TAKE</a></td>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>normal</td>
				<td><a href=""><i class="bi bi-plus-circle"></i> TAKE</a></td>
			</tr>
		</table>
		</div>
	</div>
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> Waiting</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Task:</th>
				<th>User:</th>
				<th>Priority:</th>
				<th>Controls:</th>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>P_E_TT_E_R</td>
				<td>small</td>
				<td><a href=""><i class="bi bi-check-circle"></i> FINISH</a></td>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>P_E_TT_E_R</td>
				<td>urgent</td>
				<td><a href=""><i class="bi bi-check-circle"></i> FINISH</a></td>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>P_E_TT_E_R</td>
				<td>normal</td>
				<td><a href=""><i class="bi bi-check-circle"></i> FINISH</a></td>
			</tr>
		</table>
		</div>
	</div>
	<div class="card">
		<div class="card-header colored">
			<p> <i class="bi bi-chevron-double-down"></i> Waiting</p>
		</div>
		<div class="card-content">
			<table class="table">
			<tr>
				<th>Task:</th>
				<th>User:</th>
				<th>Priority:</th>
				<th>Controls:</th>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>P_E_TT_E_R</td>
				<td>small</td>
				<td><a href=""><i class="bi bi-file-earmark-x"></i> CLEAR</a></td>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>P_E_TT_E_R</td>
				<td>urgent</td>
				<td><a href=""><i class="bi bi-file-earmark-x"></i> CLEAR</a></td>
			</tr>
			<tr>
				<td>Finish cards</td>
				<td>P_E_TT_E_R</td>
				<td>normal</td>
				<td><a href=""><i class="bi bi-file-earmark-x"></i> CLEAR</a></td>
			</tr>
		</table>
		</div>
	</div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}